<%- model_class = Htmlpage -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:library) %>:</strong></dt>
  <dd><%= @htmlpage.library %></dd>
  <dt><strong><%= model_class.human_attribute_name(:css) %>:</strong></dt>
  <dd><%= @htmlpage.css %></dd>
  <dt><strong><%= model_class.human_attribute_name(:js) %>:</strong></dt>
  <dd><%= @htmlpage.js %></dd>
  <dt><strong><%= model_class.human_attribute_name(:html) %>:</strong></dt>
  <dd><%= @htmlpage.html %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              htmlpages_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_htmlpage_path(@htmlpage), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              htmlpage_path(@htmlpage),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
